
.thumbnail img {
    width: 100%;
    /* height: 120px; */
}

.index-thumb img {
    width: 100%;
    height: 120px;
}

.thumbnail {
    padding: 0;
    /* margin-right: 80px;
    width: 110%;
    height: 95%; */
}

.delete-form {
    display: inline;
}

.fas.filled {
    color: lightgreen;
}

.fas.empty {
    color: gray;
}

.rating {
    margin-top: 20px;
    margin-bottom: 40px;
}

.map {
    margin-top: 65px;
}

#map {
    height: 300px;
    width: 100%;
}